body {
    min-height: 100vh;
    max-width: 1500px;
    min-width: 375px;
}

main{
    height: 1500px;
}
header {
	height: 400px;
	background-size: cover;
    background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
    background-image: url(../images/desktop/image-hero.jpg);
}	

.menu ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 40px 70px;
}

.menu li {
    text-decoration: none;
    list-style: none;
    margin: 0 8px 0 8px;
}

.menu a {
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    color: white;
    font-weight: bold;
    transition: 420ms;
}

.menu a:hover {
    text-decoration: underline;
}

.first-title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    font-weight: 500;
    position: relative;
    right: 250px;
    top: 60px;
    padding: 25px 25px;
    margin: 0 auto;
    border: white solid 1px;
}

.image-interactive {
    width: 30%;
    position: relative;
    left: 210px;
    top: 70px;
}

.box-leader {
    display: block;
    width: 23%;
    position: absolute;
    background-color: white;
    text-align: center;
    left: 500px;
    top: 600px;
    padding: 40px 30px;
}

.box-leader h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 25px;

}

.box-leader p {
    font-family: 'Overpass', sans-serif;
    color: grey;
    font-size: 8px;
    font-weight: bold;
    text-align: left;
    margin: 15px;
    line-height: 15px;
}

.main-box-creation {
    margin: 200px 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-box-creation h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
}

.main-box-creation button {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    color: black;
    font-weight: bold;
    padding: 0 20px;
    border: solid black 0.5px;
    cursor: pointer;
}

.box-images ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    position: relative;
    bottom: 140px;
}


.img-deep-earth { grid-area: 1 / 2 / 2 / 3; }
.image-night-arcade { grid-area: 1 / 3 / 2 / 4; }
.image-soccer-team { grid-area: 1 / 5 / 2 / 6; }
.image-grid { grid-area: 1 / 4 / 2 / 5; }
.image-from-above { grid-area: 2 / 2 / 3 / 3; }
.image-pocket-borealis { grid-area: 2 / 3 / 3 / 4; }
.image-curiosity { grid-area: 2 / 4 / 3 / 5; }
.image-fisheye { grid-area: 2 / 5 / 3 / 6; }


.box-images img {
    width: 216px;
}

.img-title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 140px;
    grid-row-gap: 360px;
    position: relative;
    bottom: 620px;
    list-style: none;
    z-index: 1;
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.img-title li {
    width: 100px;
}

.title-deep { grid-area: 1 / 2 / 2 / 3; }
.title-night { grid-area: 1 / 3 / 2 / 4; }
.title-soccer { grid-area: 1 / 5 / 2 / 6; }
.title-grid { grid-area: 1 / 4 / 2 / 5; }
.title-from { grid-area: 2 / 2 / 3 / 3; }
.title-pocket { grid-area: 2 / 3 / 3 / 4; }
.title-curiosity { grid-area: 2 / 4 / 3 / 5; }
.title-fisheye { grid-area: 2 / 5 / 3 / 6; }


footer {
    margin: 0 auto;
    background-color: black;
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
}

.redes ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 40px 200px;
}

.redes li {
    margin: 0 8px 0 8px;
}

.title-footer {
   position: relative;
   right: 730px;
   font-family: 'Overpass', sans-serif;
   font-size: 20px;
   font-weight: bold;
}

.footer-menu ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 128px 50px;
}

.footer-menu li {
    margin: 0 8px 0 8px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    color: white;
    font-weight: bold;
    transition: 420ms;
    font-size: 10px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.rights {
    position: relative;
    left: 570px;
    font-family: 'Overpass', sans-serif;
    font-size: 10px;
    color: darkgray;
}

.box-images-mobile {
    display: none;
}


@media screen and (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    
    header {
        height: 80vh;
        background-image: url(../images/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        flex-direction: column; 
        justify-content: center;
    }

    .first-title {
        font-size: 36px;
        text-align: center;
        width: auto;
        position: relative;
        right: 5px;
        top: 80px;
    }

    .menu {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        width: auto;
        margin: auto;
    }
    
    .image-interactive {
        width: 100%;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        position: relative;
        top: 200px;
        left: auto;
        margin: auto;
    }
    
    .box-leader {
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        padding: 10px 25px 5px 25px;
        position: relative;
        left: -30px;
        top: 200px;
        text-align: left;
        margin: auto;
    }

    
    .main-box-creation {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        top: 220px;
        text-align: center;
    }

    .main-box-creation button{
        display: none;
    }
    
    .box-images {
        display: none;
    }

    .box-images-mobile {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        width: auto;
        margin: 0 auto;
        position: relative;
        top: 250px;
    }

    .img-title {
        display: none;
    }


    .box-images-mobile img {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 15px auto;
    }

    .main-box-creation {
        width: 100%;
        margin: auto;
    }

    .box-images-mobile button{
        background-color: white;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        color: black;
        font-weight: bold;
        padding: 10px 20px;
        border: solid black 0.5px;
        cursor: pointer;
        display: flex;
        margin: 30px 150px;
    }

    footer {
        height: 250px;
        margin: 155px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 290px;
    }

    .redes ul {
        margin: auto;
    }

    .redes li {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 5px 5px;
        align-items: center;
        position: relative;
        right: 130px;
    }

    .title-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
       align-items: center;
       position: relative;
       bottom: 40px;
       left: 2px;
       margin: 0;
    }
    
    .footer-menu ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .rights {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 50px;
        left: 10px;
        font-family: 'Overpass', sans-serif;
        font-size: 10px;
        color: darkgray;
    }
}
